* {
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 150%;
}

.cabecalho__nav {
    padding: 2% 0% 0% 2%;
}

.apresentacao {
    display: flex;
}

.apresentacao__conteudo {
    padding: 6% 0% 0% 12%;
}

.apresentacao__conteudo__textarea {
    width: 680px;
    height: 48px;
    border-style: none;
}

.apresentacao__conteudo__textarea::placeholder {
    color: #0A3871;
}

/* section do texto criptografado + botao 'copiar' */
.apresentacao__conteudo__saida {
    display: flex;
    flex-direction: column;
}